body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.fondoNegro{
  background-color: black;
}

.display-block{
  display: block;
}

.w-full{
  width: 100%!important;
}

.p-x-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}
.p-t-md{
  padding-top: 10px!important;
}

.botones:hover{
  opacity: 80%;
  cursor: pointer;
}

.bases{
  margin-right: 0px;   
}
@media only screen and (max-width: 767px){
  .blue-bg{
      background-color: #2869b1;
  }
  .legal{
      width: 100%!important;
  }

}
.pop:hover{
  transform: scale(1.1);
  transition: 0.5s;


  }

  .textito3{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
  }
  .textito2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
  }

  .textito{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
  }
 